@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --lightGrayBorder: #737373;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
}

.container {
  width:  1296px;
  padding: 0 15px;
}

.page-title {
  font-size: 40px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.block-title {
  @apply text-xl font-roboto font-medium;
}

.transparent-btn {
  @apply px-14 py-4 text-lg text-center font-montserrat font-normal border border-lightGrayBorder rounded-2xl;
}

.grey-btn {
  @apply py-4 text-lg text-center font-montserrat font-normal bg-greyButton border rounded-2xl;
}

.input-style {
  @apply border border-lightGrayBorder bg-transparent rounded-2xl;
}

/* .transparent_btn {
  padding: 14px 58px;
  font-size: 18px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  border: 1px solid var(--lightGrayBorder);
  border-radius: 18px;
} */
