@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
}

@layer components {
  .container {
    width: 1330px;
    padding: 0 15px;
  }
}

.page-title {
  font-size: 40px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.form-title {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  color: black;
  border-radius: 8px;
}

.content-block {
  @apply w-full px-6 py-16 text-lg font-montserrat font-normal rounded-2xl bg-formBg;
}

.content-block__title {
  @apply text-2xl font-roboto font-medium;
}

.action__btn {
  @apply px-14 py-4 text-lg text-center font-montserrat font-normal border border-lightGrayBorder rounded-2xl;
}

.submit__btn {
  @apply py-4 text-lg text-center font-montserrat font-normal transition-colors bg-greenBtn focus:outline-none border rounded-2xl;
}

.row-table__btn {
  @apply px-2.5 py-0.5 text-lg text-center font-roboto font-normal border border-lightGrayBorder rounded-xl;
}

.inputs-box {
  @apply w-[526px] mx-auto p-[26px] bg-formBg rounded-[18px];
}

.input {
  @apply bg-white rounded-[18px];
}

.input__title {
  @apply text-2xl font-roboto font-normal;
}

.input__lable {
  @apply text-xs font-roboto font-medium;
}

.title_h1 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
}

.title_h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}

.title_h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}

.smsServiseCard {
  width: 416px;
  height: 288px;
  border-radius: 18px;
  background-color: #cde8ea;
  box-shadow: 0px 8px 8px 0px #a3d6d94d;
  padding: 40px 26px;
}

.caruselBg {
  background: linear-gradient(
    101.12deg,
    #0d364c 12.98%,
    #136a83 48.23%,
    #0d2846 79.12%
  );
}

.swiperCardText {
  font-size: 16px;
  line-height: 24px;
  font-family: "Montserrat";
  color: white;
}

.swiperOnMove {
  transform: translateX(-655px);
}

.swiperTransition {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 800ms;
}

.page-title {
  color: var(--white, #fff);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.sms-page-box {
  padding: 50px 26px;
  border-radius: 14px;
  background-color: #cdeae3;
}
